@page
@model AboutModel
@{
    ViewData["Title"] = "Обо мне";
}

<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>

<p>Гончар Игорь Сергеевич</p>
<p>3 курс техникума, специальность - информационные технологии</p>
<p>Изучаю создание приложений на базе 1С и C#, знаю на базовом уровне Python, также HTML и CSS.</p>
