@page
@model AboutModel
@{
    ViewData["Title"] = "Обо мне";
}

<div class="text-center">
<h1><strong>Обо мне</strong></h1>
</div>

         <br>
         <br>
         <br>
         <br>
         <br>
         <br>

<table>
    <tr>
        <td>
            <img src="Resources\ОбоМне.png">
        </td>
        <td>
            <div class="text-center">
                <h3>Гончар Игорь Сергеевич</h3>
                <h3>3 курс техникума, специальность - информационные технологии</h3>
                <h3>Изучаю создание приложений на базе 1С и C#, знаю на базовом уровне Python, также HTML и CSS.</h3>
            </div>
        </td>
    </tr>
</table>