@page
@model AchievmentModel
@{
    ViewData["Title"] = "Достижения";
}

<body style="color: #000000">  
    <div class="text-center">
         <h1 class="display-4"><b><strong>Достижения</b></strong></h1>
         <br>
         <br>
         
         <table>
                <tr>
                    <td>
                        <div> <h4> <strong>Научная деятельность:</strong> Участие в олимпиадах: Абилимпикс 2021 – <strong>2 место</strong>; Абилимпикс 2022 – <strong>2 место</strong>; <strong>Победитель</strong> IT-Fest – разработка на python (Олимпиада, проводимая в “Кванториум”); Hi-Tech Academy разработка программы-тренажёра для изучения иностранных языков – работа в команде, <strong>1 место</strong> </h4> </div>
                        <div> <h4> <strong>Внеурочная деятельность: </strong>Участник конкурсов в ГБОУПО “СТЭТ”: 3D графика – участник; Конкурс профессионального мастерства – участник; Web-дизайн 2022 – <strong>1 место</strong>; Web-дизайн 2023 – <strong>2 место</strong> </h4> </div>
                    </td>
                    <td>
                        <img src="Resources\Достижения.jpg">
                    </td>
                </tr>
         </table>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>  
        <h1 class="display-4"><b><strong>Портфолио</strong></b></h1>
        <h3 class="display-4"><b>Профессиональные достижения</b></h3>
        <br>
        <br>
        <table>
                <tr>
                    <td>
                        <img src="Resources\Дипломы\20230502_193542~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">...........</h1>
                        </font>
                    </td>
                    <td>
                        <img src="Resources\Дипломы\20230502_194155~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">...........</h1>
                        </font>
                    </td>
                    <td>
                        <img src="Resources\Дипломы\20230502_193852~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                </tr>
        </table>
        <br>
        <table>
                <tr>
                    <td>
                        <img src="Resources\Дипломы\20230502_194425~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">............</h1>
                        </font>
                    </td>
                    <td>
                        <img src="Resources\Дипломы\20230502_194641~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">..........</h1>
                        </font>
                    </td>
                    <td>
                        <img src="Resources\Дипломы\20230502_194840~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                </tr>
        </table>
        <br>
        <table>
                <tr>
                    <td>
                        <img src="Resources\Дипломы\20230502_195121~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">............</h1>
                        </font>
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">........................</h1>
                        </font>
                    </td>
                    <td>
                        <font color="#ffffff">  
                                <h1 class="display-4">............</h1>
                        </font>
                    </td>
                    <td>
                        <img src="Resources\Дипломы\20230502_224920~2.jpg"
                        HEIGHT="470"
                        WEDHT="670">
                    </td>
                </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> 
</body>
