@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<body background="Resources\Фон3.png" style="color: #ffffff">  
    <div class="text-center">
         <br>
         <br>
         <h1 class="display-4"><b>Сайт-портфолио студента группы ИС9-7</b></h1>
         <h1 class="display-4"><b>Гончара Игоря</b></h1>
         <br>
         <br>
         <br>
         <h4>На данный момент обучаюсь в <a href="https://sevtet.ru/">ГБОУПО "СТЭТ"</a></h4>
    </div>
</body>
